/* You can add global styles to this file, and also import other style files */
/* Light Mode Styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 12px;
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #112233;
  color: #fafa80;
}

/* Style for the sun/moon toggle image */
.toggle-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
